.overlay-modal {
width: 100%;
height: 100%;
position: fixed; 
top: 0;
left: 0;
z-index: 9;
display: flex;
justify-content: center; 
align-items: center;
background-color: rgba(0, 0, 0, 0.511);
}

.show{
    animation-name: opacity-animation-show;
    animation-duration: 0.3s;
}

.fade{
    animation-name: opacity-animation-fade;
    animation-duration: 0.3s;
}
  
.modal {
border: 1px solid black;
border-radius: 10px;
background-color: white; 
padding: 15px; 
width: 35%;
height: auto;
}

.title-modal{
margin-top: -5px;
text-align: center;
border-bottom: 1px solid black;

margin-left: -15px;
margin-right: -15px;
}
.modal-content{
    width: 100%;
    height: auto;
}
.close-modal{
background-color: rgb(245, 63, 63);
width: 100%;
height:30px;
border-radius: 5px;
}

@keyframes opacity-animation-show {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes opacity-animation-fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media screen and (width <= 375px){
    .modal {
      width: 80%;
    }
  }