.drag-container{
    width: 100%;
    height: 100%;
    border: 4px solid rgba(75, 75, 254, 0.827);
    border-radius: 10px;
    border-style:dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-drag{
    margin-top:  30px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(75, 75, 254, 0.827);
}

.destino{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.file-accept{
    background-color:rgba(0, 128, 0, 0.249) ;
}
.file-invalid{
    background-color:rgba(128, 0, 0, 0.249) ;
}

.background-hover{
    border: 1px solid green ;
    border-radius: 20px ;
    width: 50px;
    height: 50px;
}

.display-none{
    display: none;
}

.file-name{
    font-weight: bold;
    color:rgba(75, 75, 254, 0.827);
    margin-right:-20px ;

}
.img-doc{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.error-txt{
    color:rgb(255, 55, 55);
    margin-top: 50px;
   

}
.delete-file{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
@media screen and (width <= 500px){
    .label-drag{
        font-size: 20px;
    }


}