.drag-container{
    width: auto; 
    height: auto;
    border: 4px solid rgba(75, 75, 254, 0.664);
    border-radius: 10px;
    border-style:dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-bottom: 20px;
    position: relative;
}

.title-drag{
    margin-top:  10px;
    color: rgba(75, 75, 254, 0.827);
}

.destino{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.file-accept{
    background-color:rgba(0, 128, 0, 0.150) ;
}
.file-invalid{
    background-color:rgba(128, 0, 0, 0.150) ;
}

.file-name{
    font-weight: bold;
    color:rgba(75, 75, 254, 0.827);
    margin-right:-20px ;

}
.img-doc{
    width: 50px;
    height: 50px;
    margin-top: 20px;
 
}
.img-doc-multi{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}


.error-txt{
    color:rgb(255, 55, 55);
    margin-top: 70px;
    position: fixed;
}

.delete-file{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.row-icons{
    display: flex;
    flex-wrap: wrap;   
    z-index: 2;
}
.row-icon{ 
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.multi-file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin:auto;
}
.file-name-multi{
    display: flex;
    color: rgba(75, 75, 254, 0.827);
    font-weight: bold;
}

.file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer; 
    z-index: 1;
}

.str-separator{
    margin-top: -10px;
    margin-bottom:20px;
    font-size: 20px;
    color: rgba(75, 75, 254, 0.827);
    font-weight: bold;
}

@media screen and (width <= 570px){
    .title-drag{
        font-size: 20px;
    }
}
