.drag-container{
    width: 100%; 
    height: 100%;
    border: 4px solid rgba(75, 75, 254, 0.664);
    border-radius: 10px;
    border-style:dashed;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px ;
    position: relative;
}
.centered{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-drag{
    margin-top:  10px;
    color: rgba(75, 75, 254, 0.827);
}

.destino{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.file-accept{
    background-color:rgba(0, 128, 0, 0.150) ;
}
.file-invalid{
    background-color:rgba(128, 0, 0, 0.150) ;
}

.file-name{
    font-weight: bold;
    color:rgba(75, 75, 254, 0.827);
    margin-right:-20px ;
}

.img-icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
 
}

.error-txt{
    color:rgb(255, 55, 55);
    margin-top: 70px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.delete-file{
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.row-icon{ 
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-icons {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; 
}

.multi-file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%; 
    position: relative;
}


.file-name-multi{
    display: flex;
    color: rgba(75, 75, 254, 0.827);
    font-weight: bold;
}

.file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer; 
    z-index: 1;
}

.str-separator{
    margin-top: -10px;
    margin-bottom:20px;
    font-size: 20px;
    color: rgba(75, 75, 254, 0.827);
    font-weight: bold;
}


@media screen and (width <= 570px){

    .title-drag,.str-separator{
        font-size: 17px;
    }
    .str-separator{
        font-size: 16px;
    }
    .delete-file{
        margin-top:-60px;
        padding-right: 40px;
        position: absolute;
    }
}
